<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @customer.customer_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</p>

<p>
  <strong>Orders:</strong>
  <%= @customer.orders.count %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
